CONNECTIONSTRINGS__DEFAULTCONNECTION="Host=localhost;Database=poketra_vyrt;Username=ajl420;Password=comme"
REDIS__CONNECTIONSTRING="caching_service:6379"
REDIS__INSTANCENAME="PoketraVyrt:Dev:"
VONAGE__APIKEY="xxxxxxxxxxxxxxxxx"
VONAGE__APISECRET="xxxxxxxxxxxxxxxxx"
#SMSSERVICE__PROVIDERNAME="Orange"
SMSSERVICE__PROVIDERNAME="Console"
ORANGE__PHONENUMBER="+2610000"
ORANGE__CLIENTID="xxxxxxxxxxxxxxxxx"
ORANGE__CLIENTSECRET="xxxxxxxxxxxxxxxxx"
JWT__ISSUER="PoketraVyrt"
JWT__AUDIENCE="WalletUser"
JWT__KEY="xxxxxxxxxxxxxxxxx"
POSTGRES_DB=poketra_vyrt
POSTGRES_USER=user
POSTGRES_PASSWORD=secret